
body {

    background-image: url(assets/img/bg-main.png);
    background-size: cover;
    font-family: Roboto, sans-serif;
}
.main-cont {

    height: 100vh;
    width: 100%;

}

.card-body {
    align-self: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 25px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(15.5px);
    border-radius: 10px;
    height: 25vh;
}

h1 {

    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 4rem;
    color: white;
    font-weight: 100;

}

.result {

    font-size: 18px;
    color: #11124d;
    font-weight: 300;
    background-color: white;
    margin-top: 23px;
    padding: 1px;
    border-radius: 10px;

}

/* bg-primary rounded-4 px-3 py-4 align-self-center */